-provide(:title, "#{@level.title.empty? ? "Level #{@level.id}" : @level.title }")
%div.center
  %h1= "Level #{@level.id}"
  %h2= @level.question


- if @level.images.any?
  .row.level_image
    - @level.images.each do |image|
      =image_tag image.image_url, :alt => @level.alt

.row
  .span6.offset3
    =form_for @attempt do |f|
      = render 'partial/error_messages', :object => f.object
      = f.text_field :attempt, :placeholder => "Your answer goes here.."

      - if @level.hint and !@level.hint.empty?
        %i{ :class => "icon-info-sign" }
        .hint=@level.hint
      =f.submit "Answer", :class => "btn btn-large btn-primary"
    -if @attempts and @attempts.any?
      ="#{pluralize(@attempts.count, "attempt")} so far:"
      %ul
        -@attempts.count.times do |n|
          %li=@attempts[n].attempt