-provide(:title, "#{@level.title.empty? ? "Level #{@level.id}" : @level.title }")
.row
  .center.head
    .row
      .span12.offset2.question
        %h1= "Level #{@level.id}"
        %h2= @level.question


        - if @level.images.any?
          .row.level_image
            - @level.images.each do |image|
              /=image_tag image.image_url, :alt => @level.alt
              =image_tag image.image, :alt => @level.alt
      =render 'partial/display_image'

-unless current_user.admin?
  .row
    .span8.offset4
      =form_for @attempt do |f|
        = render 'partial/error_messages', :object => f.object
        = f.text_field :attempt, :placeholder => "Your answer goes here.."

        - if @level.hint and !@level.hint.empty?
          %i{ :class => "icon-info-sign" }
          %br  
          - @level.hint.split(', ').each do |hint|  
            .hint=hint
          %br
        =f.submit "Answer", :class => "btn btn-large btn-primary"
      -if @attempts and @attempts.any?
        ="#{pluralize(@attempts.count, "attempt")} so far:"
        %ul
          -@attempts.count.times do |n|
            %li=@attempts[n].attempt
